#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
}
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: chartreuse;
  padding: 30px;

}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
  padding: 30px;
}

h2 {
  color: rebeccapurple;
}

ul {display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  align-self: flex-start;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
